@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: white; 
  margin: 0; 
  color: black;
}


.hover ul li{
  @apply hover:text-cyan-500
}
/*?------- Button -------*/
.button{
  @apply btn btn-outline border-purple-600 hover:bg-purple-600 hover:text-white  text-xl border-0 border-b-4 text-black uppercase 
}